@-webkit-keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #232323;
}

h1.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: #d6c78e;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.sticky-body {
  overflow: hidden;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3.2rem;
  font-weight: 300;
  color: #d6c78e;
}
.section-title span {
  font-weight: 700;
}
.section-title::before {
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 0;
  height: 2px;
  background-color: #d6c78e;
  width: 20%;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header__text {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 2em;
}
.header__text p {
  font-weight: 200;
}
.header__img {
  grid-row: 1/2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/header-mini.jpg");
  background-size: cover;
  background-position: center;
  filter: sepia();
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.header__arrow {
  display: none;
}
.header__bg-icon-one, .header__bg-icon-two {
  position: absolute;
  opacity: 0.05;
  z-index: -5;
  -webkit-animation: rotate-right 55s infinite linear;
          animation: rotate-right 55s infinite linear;
}
.header__bg-icon-one {
  bottom: 2em;
  right: -3em;
  width: 50%;
}
.header__bg-icon-two {
  display: none;
}

.hamburger {
  position: absolute;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #fff;
  z-index: 500;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transform: translateX(-102%);
  transition: transform 0.3s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translateX(0);
}
.nav-desktop {
  display: none;
}
.nav__link {
  position: relative;
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2.3rem;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #d6c78e;
}

.cards {
  background-color: #191919;
  overflow: hidden;
}
.cards__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 6em 2em;
}
.cards__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 3em;
  background-color: #232323;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.3s, background-color 0.3s;
  z-index: 5;
}
.cards__item:hover {
  background-color: #191919;
  border: 1px solid #d6c78e;
  z-index: 1;
}
.cards__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #d6c78e;
  border-radius: 8px;
  opacity: 0;
}
.cards__item:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  z-index: 1;
}
.cards__item-img {
  width: 60px;
  margin-bottom: 1em;
}
.cards__item-title {
  margin-bottom: 0.6em;
  text-transform: uppercase;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 6em 2em;
}
.info__box-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: sepia();
}
.info__box-title {
  margin: 0.5em 0;
  font-weight: 300;
  font-size: 2.6rem;
  color: #d6c78e;
}
.info__box-text {
  margin-bottom: 0.5em;
}
.info__box-link {
  display: block;
  margin-bottom: 2em;
  text-align: right;
  text-decoration: none;
  color: #d6c78e;
  font-weight: 700;
  transition: color 0.3s;
}
.info__box-link:hover {
  color: #9b9165;
}
.info__bg-icon {
  display: none;
}

.plans {
  background-color: #191919;
  padding: 6em 2em;
}
.plans__boxes {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em 0;
}
.plans__box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 3em 0;
  background-color: #232323;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background-color 0.3s, border 0.3s;
}
.plans__box:hover {
  background-color: #191919;
  border: 1px solid #d6c78e;
}
.plans__box-img img {
  width: 50px;
  height: 50px;
  margin: 1em 0;
}
.plans__box-title {
  margin: 1em 0;
}
.plans__box-title h3 {
  font-size: 2.1rem;
  font-weight: bold;
  color: #d6c78e;
}
.plans__box-item {
  text-align: center;
  margin: 0.5em 0;
}

.newsletter {
  padding: 8em 2em;
  background-color: #A01C35;
  text-align: center;
}
.newsletter__box {
  text-align: center;
}
.newsletter__text {
  padding: 1em;
  margin-bottom: 1em;
  font-size: 4rem;
  font-weight: 200;
}
.newsletter__form input {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
}
.newsletter__form button {
  padding: 1em;
  font-weight: bold;
  color: #d6c78e;
  background: none;
  border: 1px solid #d6c78e;
  transition: color 0.3s, background-color 0.3s;
}
.newsletter__form button:hover {
  color: #A01C35;
  background-color: #d6c78e;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gallery img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery img:nth-child(odd) {
  display: none;
}

.contact {
  padding: 6em 2em;
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.contact__form button {
  padding: 1em;
  min-width: 120px;
  background: none;
  color: #d6c78e;
  font-weight: bold;
  border: 1px solid #d6c78e;
  transition: color 0.3s, background-color 0.3s;
  grid-column: 1/3;
}
.contact__form button:hover {
  background-color: #d6c78e;
  color: #232323;
}
.contact__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.contact__box label {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.contact__box input,
.contact__box textarea {
  padding: 1em;
  width: 100%;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}
.contact__box input:focus,
.contact__box textarea:focus {
  outline: none;
  border: 1px solid #d6c78e;
}
.contact__box textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.contact__box:nth-child(1) {
  grid-column: 1/-1;
}
.contact__box:nth-child(2) {
  grid-column: 1/-1;
}
.contact__box:nth-child(3) {
  grid-column: 1/-1;
}

.footer {
  text-align: center;
  padding: 3em 0;
  border-top: 1px solid #191919;
}

@media (min-width: 576px) {
  .info {
    grid-template-columns: repeat(2, 1fr);
    padding: 10em 2em;
  }
  .info__title {
    grid-column: 1/2;
    padding: 0 1em;
  }
  .info__boxes {
    grid-column: 2/3;
  }
  .info__box {
    display: grid;
    justify-content: end;
  }
  .info__box-img, .info__box-text {
    max-width: 500px;
  }
  .info__bg-icon {
    position: absolute;
    display: block;
    opacity: 0.05;
    z-index: -5;
  }
  .info__bg-icon--one {
    top: 14%;
    width: 20%;
    -webkit-animation: rotate-right 160s infinite linear;
            animation: rotate-right 160s infinite linear;
  }
  .info__bg-icon--two {
    bottom: 10%;
    left: 10%;
    width: 30%;
    -webkit-animation: rotate-left 140s infinite linear;
            animation: rotate-left 140s infinite linear;
  }
  .info__bg-icon--three {
    top: 26%;
    left: 16%;
    width: 50%;
    -webkit-animation: rotate-left 160s infinite linear;
            animation: rotate-left 160s infinite linear;
  }
  .info__bg-icon--four {
    top: 55%;
    left: -10%;
    width: 15%;
    -webkit-animation: rotate-right 140s infinite linear;
            animation: rotate-right 140s infinite linear;
  }
}
@media (min-width: 768px) {
  .cards__box {
    grid-template-columns: repeat(3, 1fr);
    padding: 10em 2em;
  }
  .plans__box {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: left;
    padding: 1em 2em;
  }
  .newsletter__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .newsletter__text {
    margin-bottom: 0;
  }
  .newsletter__form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .newsletter__form input {
    margin-bottom: 0;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery img:nth-child(odd) {
    display: block;
  }
  .contact__form {
    gap: 30px;
  }
  .contact__form button {
    grid-column: 1/3;
  }
  .contact__box:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .contact__box:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/2;
  }
  .contact__box:nth-child(3) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4.8rem;
  }
  .section-title::before {
    height: 4px;
  }
  h1.company-name {
    font-size: 6rem;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .header__text p {
    font-size: 1.8rem;
  }
  .header__img {
    grid-row: 1/4;
    grid-column: 2/3;
    background-image: url("../img/header-big.jpg");
  }
  .header__arrow {
    display: block;
    position: absolute;
    bottom: 2em;
    left: 42%;
    padding: 2em;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .header__arrow::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 50px;
  }
  .header__bg-icon-one {
    left: 6em;
    bottom: 8em;
    width: 10%;
  }
  .header__bg-icon-two {
    display: block;
    top: 10em;
    left: 35%;
    width: 5%;
    -webkit-animation: rotate-left 55s infinite linear;
            animation: rotate-left 55s infinite linear;
  }
  .nav {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1em;
  }
  .nav-desktop {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav__link {
    color: #fff;
  }
  .nav__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #d6c78e;
    opacity: 0;
  }
  .nav__link:hover::before {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .hamburger {
    display: none;
  }
  .header__text p {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(8, 1fr);
  }
}/*# sourceMappingURL=main.css.map */